*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(28, 144, 253);
}

main{
    width: 400px;
    height: 700px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.70);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    grid-column: span 1;
    font-size: 1.5em;
}

label{
    grid-column: span 4;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.30);
    color: white;
    padding: 10px;
    text-align: right;
}

.span2{
    grid-column: span 2;
}